El día de la semana con mayor número de Tweets de tu cuenta personal. Para ello deberás descargar de tu cuenta tu historial de Tweets, siguiendo las instrucciones siguientes: https://help.twitter.com/es/managing-your-account/how-to-download-your-twitter-archive 
La descarga la habitarán pasadas 24 horas por motivos de seguridad.
Debes buscar el archivo llamado tweet.js, que tiene formato JSON.

Instalar pyspark

In [1]:
# !pip install pyspark

**Creamos el SparkSession**

Una SparkSession es el objeto principal o la base a partir de la cual cuelga toda la funcionalidad de Apache Spark. Es similar al SparkContext de los RDD, pero en este caso, para trabajar con SparkSQL, los DataFrame y DataSet

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
.master("local")\
.appName("Colab")\
.config('spark.ui.port', '4050')\
.getOrCreate()

22/05/26 17:30:48 WARN Utils: Your hostname, Juanjos-Mac-mini.local resolves to a loopback address: 127.0.0.1; using 192.168.0.19 instead (on interface en0)
22/05/26 17:30:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/26 17:30:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Leemos los datos del fichero Json, hay que recordar que los ficheros de datos JSON de twitter actualmente son multilinea

Mostramos el esquema que tiene el dataframe obtenido de leer el archivo

In [3]:
data = spark.read.option("multiline", "true").json("ejemploTweets.js")

data.printSchema()

root
 |-- tweet: struct (nullable = true)
 |    |-- created_at: string (nullable = true)
 |    |-- display_text_range: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- entities: struct (nullable = true)
 |    |    |-- hashtags: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- indices: array (nullable = true)
 |    |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |    |-- text: string (nullable = true)
 |    |    |-- media: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- display_url: string (nullable = true)
 |    |    |    |    |-- expanded_url: string (nullable = true)
 |    |    |    |    |-- id: string (nullable = true)
 |    |    |    |    |-- id_str: string (nullable = true)
 |    |    |    |    |-- indices: array (nullable = true)
 |    |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |    |-- media_url: string (nullable = true)
 |    |    |    |    |-- media_url_https: string (nullable = true)
 |    |    |    |    |-- sizes: struct (nullable = true)
 |    |    |    |    |    |-- large: struct (nullable = true)
 |    |    |    |    |    |    |-- h: string (nullable = true)
 |    |    |    |    |    |    |-- resize: string (nullable = true)
 |    |    |    |    |    |    |-- w: string (nullable = true)
 |    |    |    |    |    |-- medium: struct (nullable = true)
 |    |    |    |    |    |    |-- h: string (nullable = true)
 |    |    |    |    |    |    |-- resize: string (nullable = true)
 |    |    |    |    |    |    |-- w: string (nullable = true)
 |    |    |    |    |    |-- small: struct (nullable = true)
 |    |    |    |    |    |    |-- h: string (nullable = true)
 |    |    |    |    |    |    |-- resize: string (nullable = true)
 |    |    |    |    |    |    |-- w: string (nullable = true)
 |    |    |    |    |    |-- thumb: struct (nullable = true)
 |    |    |    |    |    |    |-- h: string (nullable = true)
 |    |    |    |    |    |    |-- resize: string (nullable = true)
 |    |    |    |    |    |    |-- w: string (nullable = true)
 |    |    |    |    |-- type: string (nullable = true)
 |    |    |    |    |-- url: string (nullable = true)
 |    |    |-- symbols: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- urls: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- user_mentions: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |-- extended_entities: struct (nullable = true)
 |    |    |-- media: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- display_url: string (nullable = true)
 |    |    |    |    |-- expanded_url: string (nullable = true)
 |    |    |    |    |-- id: string (nullable = true)
 |    |    |    |    |-- id_str: string (nullable = true)
 |    |    |    |    |-- indices: array (nullable = true)
 |    |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |    |-- media_url: string (nullable = true)
 |    |    |    |    |-- media_url_https: string (nullable = true)
 |    |    |    |    |-- sizes: struct (nullable = true)
 |    |    |    |    |    |-- large: struct (nullable = true)
 |    |    |    |    |    |    |-- h: string (nullable = true)
 |    |    |    |    |    |    |-- resize: string (nullable = true)
 |    |    |    |    |    |    |-- w: string (nullable = true)
 |    |    |    |    |    |-- medium: struct (nullable = true)
 |    |    |    |    |    |    |-- h: string (nullable = true)
 |    |    |    |    |    |    |-- resize: string (nullable = true)
 |    |    |    |    |    |    |-- w: string (nullable = true)
 |    |    |    |    |    |-- small: struct (nullable = true)
 |    |    |    |    |    |    |-- h: string (nullable = true)
 |    |    |    |    |    |    |-- resize: string (nullable = true)
 |    |    |    |    |    |    |-- w: string (nullable = true)
 |    |    |    |    |    |-- thumb: struct (nullable = true)
 |    |    |    |    |    |    |-- h: string (nullable = true)
 |    |    |    |    |    |    |-- resize: string (nullable = true)
 |    |    |    |    |    |    |-- w: string (nullable = true)
 |    |    |    |    |-- type: string (nullable = true)
 |    |    |    |    |-- url: string (nullable = true)
 |    |-- favorite_count: string (nullable = true)
 |    |-- favorited: boolean (nullable = true)
 |    |-- full_text: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- id_str: string (nullable = true)
 |    |-- lang: string (nullable = true)
 |    |-- possibly_sensitive: boolean (nullable = true)
 |    |-- retweet_count: string (nullable = true)
 |    |-- retweeted: boolean (nullable = true)
 |    |-- source: string (nullable = true)
 |    |-- truncated: boolean (nullable = true)

Tomamos dos campos, uno de ellos en el que aparece la fecha de creación del Tweet y otro por ejemplo el que presenta el texto completo. 'created_at' 'full_text'

In [4]:
data = data.select("tweet.created_at", "tweet.full_text")

Para trabajar mostramos la colección completa del dataset por filas (Row)

In [5]:
data.collect()

[Row(created_at='Sun Nov 25 15:54:43 +0000 2012', full_text='Tweet 1'),
 Row(created_at='Mon Nov 05 23:58:38 +0000 2012', full_text='Tweet 2'),
 Row(created_at='Sat Oct 06 15:12:10 +0000 2012', full_text='Tweet 3'),
 Row(created_at='Wed Aug 29 15:27:42 +0000 2012', full_text='Tweet 4'),
 Row(created_at='Fri Aug 03 16:18:13 +0000 2012', full_text='Tweet 5'),
 Row(created_at='Sun Jul 22 21:31:54 +0000 2012', full_text='Tweet 6'),
 Row(created_at='Sat Jul 21 21:36:20 +0000 2012', full_text='Tweet 7'),
 Row(created_at='Sun Jul 15 15:36:26 +0000 2012', full_text='Tweet 8'),
 Row(created_at='Sun Jul 08 21:24:32 +0000 2012', full_text='Tweet 9'),
 Row(created_at='Mon Jul 02 07:11:46 +0000 2012', full_text='Tweet 10'),
 Row(created_at='Sun Jun 17 20:02:56 +0000 2012', full_text='Tweet 11'),
 Row(created_at='Wed Jun 06 22:02:21 +0000 2012', full_text='Tweet 12'),
 Row(created_at='Sun Jun 03 13:25:18 +0000 2012', full_text='Tweet 13'),
 Row(created_at='Sun Apr 29 16:11:30 +0000 2012', full_text='Tweet 14'),
 Row(created_at='Sat Apr 28 13:42:36 +0000 2012', full_text='Tweet 15'),
 Row(created_at='Sat Apr 28 08:19:44 +0000 2012', full_text='Tweet 16'),
 Row(created_at='Sat Mar 17 13:40:15 +0000 2012', full_text='Tweet 17'),
 Row(created_at='Fri Mar 16 21:46:15 +0000 2012', full_text='Tweet 18'),
 Row(created_at='Tue May 01 17:28:01 +0000 2018', full_text='Tweet 19'),
 Row(created_at='Sat Jul 22 21:19:02 +0000 2017', full_text='Tweet 20'),
 Row(created_at='Sat Jul 22 17:53:46 +0000 2017', full_text='Tweet 21'),
 Row(created_at='Sat Jul 22 08:04:28 +0000 2017', full_text='Tweet 22')]

Hacemos una prueba mostrando de cada fila sólamente el primer campo con la fecha de creación del Tweet y los tres primeros caracteres correspondientes al día de la semana.

In [13]:
tweets = data.collect()

for row in tweets:

    print("{0} - {1}".format(" ".join(row["created_at"].split(" ")[1:4]), row["created_at"].split(" ")[0]))

Nov 25 15:54:43 - Sun
Nov 05 23:58:38 - Mon
Oct 06 15:12:10 - Sat
Aug 29 15:27:42 - Wed
Aug 03 16:18:13 - Fri
Jul 22 21:31:54 - Sun
Jul 21 21:36:20 - Sat
Jul 15 15:36:26 - Sun
Jul 08 21:24:32 - Sun
Jul 02 07:11:46 - Mon
Jun 17 20:02:56 - Sun
Jun 06 22:02:21 - Wed
Jun 03 13:25:18 - Sun
Apr 29 16:11:30 - Sun
Apr 28 13:42:36 - Sat
Apr 28 08:19:44 - Sat
Mar 17 13:40:15 - Sat
Mar 16 21:46:15 - Fri
May 01 17:28:01 - Tue
Jul 22 21:19:02 - Sat
Jul 22 17:53:46 - Sat
Jul 22 08:04:28 - Sat

Generamos un nuevo dataframe con los tweets reducidos (en este caso vamos a tomar solo los tres primeros caracteres de la primera columna con la fecha de creación, de forma similar a como lo hicimos en el bloque anterior, y el segundo campo sin modificaciones)

In [7]:
from pyspark.sql.functions import *

data = []

for row in tweets:

    data = data.append([" ".join(row["created_at"].split(" ")[1:4]), row["full_text"]])

reduced_tweets =

Creamos un nuevo dataframe a partir del anterior renombrando la primera columna por "dias_semana"

Realizamos el conteo total de tweets que hemos realizado

Obtenemos un nuevo dataframe con los tweets agrupados por día de la semana y ordenados de forma descendente

Tomamos el primer elemento del dataframe ordenado y lo mostramos

Mostrar un dataframe con todos los datos, que muestre un array de hashtags, el texto completo y el número de likes que tiene cada uno. Que se muestre en vertical y sin truncar el texto.

Obtener a partir del dataframe anterior los tweets ordenados de forma descendente de los que tienen más *likes* a los que menos, mostrando solo el texto del tweet y el número de likes de forma vertical y sin truncar el texto

Obtener el número máximo de likes que ha obtenido un tweet

Obtener el total de likes obteidos por el usuario

Filtrar y obtener sólo los tweets que tengan el máximo de likes, mostrando el texto completo y el número de likes, y comprobar que coincide con el valor obtenido en los bloques anteriores.

In [8]:
from pyspark.sql.functions import *

Pasar el Dataframe a un RDD, y mostrar los datos eliminando de la cadena desde la posición 15 hasta la penúltima

In [9]:
from pyspark.context import SparkContext